<a href="https://colab.research.google.com/github/shubham62025865/shubham1/blob/main/3_Pandas_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas - `DataFrame`s

Probably the most important data structure of pandas is the `DataFrame`. It's a tabular structure tightly integrated with `Series`.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Hands on!

In [ ]:
import numpy as np
import pandas as pd

<img width="700" src="https://user-images.githubusercontent.com/872296/38153492-72c032ca-3443-11e8-80f4-9de9060a5127.png" />

Creating `DataFrame`s manually can be tedious. 99% of the time you'll be pulling the data from a Database, a csv file or the web. But still, you can create a DataFrame by specifying the columns and values:

In [ ]:
pd.DataFrame({
    "Population" : [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    "GDP" : [1785387,2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075],
    "Surface" : [9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067],
      'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]

}, index = ['Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States'])

                Population       GDP  Surface    HDI Continent
Canada              35.467   1785387  9984670  0.913   America
France              63.951   2833687   640679  0.888    Europe
Germany             80.940   3874437   357114  0.916    Europe
Italy               60.665   2167744   301336  0.873    Europe
Japan              127.061   4602367   377930  0.891      Asia
United Kingdom      64.511   2950039   242495  0.907    Europe
United States      318.523  17348075  9525067  0.915   America

In [ ]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

_(The `columns` attribute is optional. I'm using it to keep the same order as in the picture above)_

In [ ]:
df1

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [ ]:
df1.loc[3]

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: 3, dtype: object

In [ ]:
df1.iloc[3]

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: 3, dtype: object

In [ ]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

`DataFrame`s also have indexes. As you can see in the "table" above, pandas has assigned a numeric, autoincremental index automatically to each "row" in our DataFrame. In our case, we know that each row represents a country, so we'll just reassign the index:

In [ ]:
type("1")

str

In [ ]:
df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [ ]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [ ]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [ ]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 636.0+ bytes

In [ ]:
# Return an int representing the number of elements in this object.
# Return the number of rows if Series. Otherwise return the number of rows times number of columns if DataFrame.
df.size

35

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.Population.sum()/7

107.30257142857144

In [ ]:
df.shape

(7, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 636.0+ bytes

In [ ]:
df.Population.median()

64.511

In [ ]:
type(df.Population)

pandas.core.series.Series

In [ ]:
df.Population.sort_values(ascending = False)

United States     318.523
Japan             127.061
Germany            80.940
United Kingdom     64.511
France             63.951
Italy              60.665
Canada             35.467
Name: Population, dtype: float64

In [ ]:
(80.940 + 127.061)/2

104.0005

In [ ]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [ ]:
df.Population.median()

64.511

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 636.0+ bytes

In [ ]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

<img width="700" src="https://miro.medium.com/max/1720/1*JwIzwIA-EbinfbS20fw8hA.png" />
<img width="700" src="" />

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.GDP

Canada             1785387
France             2833687
Germany            3874437
Italy              2167744
Japan              4602367
United Kingdom     2950039
United States     17348075
Name: GDP, dtype: int64

In [ ]:
df.HDI

Canada            0.913
France            0.888
Germany           0.916
Italy             0.873
Japan             0.891
United Kingdom    0.907
United States     0.915
Name: HDI, dtype: float64

In [ ]:
df['GDP']

Canada             1785387
France             2833687
Germany            3874437
Italy              2167744
Japan              4602367
United Kingdom     2950039
United States     17348075
Name: GDP, dtype: int64

In [ ]:
df["Population"]

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.Continent.value_counts()

Europe     4
America    2
Asia       1
Name: Continent, dtype: int64

In [ ]:
df.Continent.value_counts()

Europe     4
America    2
Asia       1
Name: Continent, dtype: int64

In [ ]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

In [ ]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Indexing, Selection and Slicing

Individual columns in the DataFrame can be selected with regular indexing. Each column is represented as a `Series`:

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.loc["Japan"]

Population      127.061
GDP             4602367
Surface Area     377930
HDI               0.891
Continent          Asia
Name: Japan, dtype: object

In [ ]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [ ]:
df.loc["Canada"]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [ ]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [ ]:
df.loc['Canada']

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [ ]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [ ]:
df.Population

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [ ]:
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [ ]:
type(df['Population'])

pandas.core.series.Series

Note that the `index` of the returned Series is the same as the DataFrame one. And its `name` is the name of the column. If you're working on a notebook and want to see a more DataFrame-like format you can use the `to_frame` method:

In [ ]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

Multiple columns can also be selected similarly to `numpy` and `Series`:

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.loc["Canada" : "Germany", "Population": "Surface Area"]

         Population      GDP  Surface Area
Canada       35.467  1785387       9984670
France       63.951  2833687        640679
Germany      80.940  3874437        357114

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.iloc[0 : 3, 0: 3]

         Population      GDP  Surface Area
Canada       35.467  1785387       9984670
France       63.951  2833687        640679
Germany      80.940  3874437        357114

In [ ]:
df.loc[["Canada", "Germany", "France"], ["GDP", "HDI", "Surface Area"]]

             GDP    HDI  Surface Area
Canada   1785387  0.913       9984670
Germany  3874437  0.916        357114
France   2833687  0.888        640679

In [ ]:
df[["HDI", "Continent", "GDP"]]

                  HDI Continent       GDP
Canada          0.913   America   1785387
France          0.888    Europe   2833687
Germany         0.916    Europe   3874437
Italy           0.873    Europe   2167744
Japan           0.891      Asia   4602367
United Kingdom  0.907    Europe   2950039
United States   0.915   America  17348075

In [ ]:
column_list = ["Population", "GDP", "Surface Area"]
df[column_list]

                Population       GDP  Surface Area
Canada              35.467   1785387       9984670
France              63.951   2833687        640679
Germany             80.940   3874437        357114
Italy               60.665   2167744        301336
Japan              127.061   4602367        377930
United Kingdom      64.511   2950039        242495
United States      318.523  17348075       9525067

In [ ]:
df[["Population", "GDP", "Surface Area"]]

                Population       GDP  Surface Area
Canada              35.467   1785387       9984670
France              63.951   2833687        640679
Germany             80.940   3874437        357114
Italy               60.665   2167744        301336
Japan              127.061   4602367        377930
United Kingdom      64.511   2950039        242495
United States      318.523  17348075       9525067

In [ ]:
df["Population"]

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [ ]:
df[['Population', 'GDP', "HDI"]]

                Population       GDP    HDI
Canada              35.467   1785387  0.913
France              63.951   2833687  0.888
Germany             80.940   3874437  0.916
Italy               60.665   2167744  0.873
Japan              127.061   4602367  0.891
United Kingdom      64.511   2950039  0.907
United States      318.523  17348075  0.915

In this case, the result is another `DataFrame`. Slicing works differently, it acts at "row level", and can be counter intuitive:

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.iloc[:,[0]]

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

In [ ]:
df.loc[["Italy", "United Kingdom"]]

                Population      GDP  Surface Area    HDI Continent
Italy               60.665  2167744        301336  0.873    Europe
United Kingdom      64.511  2950039        242495  0.907    Europe

In [ ]:
df.iloc[[3,5]]

                Population      GDP  Surface Area    HDI Continent
Italy               60.665  2167744        301336  0.873    Europe
United Kingdom      64.511  2950039        242495  0.907    Europe

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

Row level selection works better with `loc` and `iloc` **which are recommended** over regular "direct slicing" (`df[:]`).

`loc` selects rows matching the given index:

In [ ]:
df.loc["Germany": "United Kingdom"]

                Population      GDP  Surface Area    HDI Continent
Germany             80.940  3874437        357114  0.916    Europe
Italy               60.665  2167744        301336  0.873    Europe
Japan              127.061  4602367        377930  0.891      Asia
United Kingdom      64.511  2950039        242495  0.907    Europe

In [ ]:
df.iloc[2:5]

Empty DataFrame
Columns: [Population, GDP, Surface Area, HDI, Continent]
Index: []

In [ ]:
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [ ]:
df.loc['France': 'Italy']

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

As a second "argument", you can pass the column(s) you'd like to select:

In [ ]:
df.loc["France" : "Italy", ["Population", "HDI"]]

         Population    HDI
France       63.951  0.888
Germany      80.940  0.916
Italy        60.665  0.873

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
s = "abcdefg"
s[3:0:-1]

'dcb'

In [ ]:
df.loc[ "Canada": "Japan" : -1]

Empty DataFrame
Columns: [Population, GDP, Surface Area, HDI, Continent]
Index: []

In [ ]:
df.iloc[5:0:-1]

                Population      GDP  Surface Area    HDI Continent
United Kingdom      64.511  2950039        242495  0.907    Europe
Japan              127.061  4602367        377930  0.891      Asia
Italy               60.665  2167744        301336  0.873    Europe
Germany             80.940  3874437        357114  0.916    Europe
France              63.951  2833687        640679  0.888    Europe

In [ ]:
df.loc[: : -1, : : -1 ]

               Continent    HDI  Surface Area       GDP  Population
United States    America  0.915       9525067  17348075     318.523
United Kingdom    Europe  0.907        242495   2950039      64.511
Japan               Asia  0.891        377930   4602367     127.061
Italy             Europe  0.873        301336   2167744      60.665
Germany           Europe  0.916        357114   3874437      80.940
France            Europe  0.888        640679   2833687      63.951
Canada           America  0.913       9984670   1785387      35.467

In [ ]:
df

                Population  GDP  Surface Area  HDI Continent
Canada                 NaN  NaN           NaN  NaN       NaN
France                 NaN  NaN           NaN  NaN       NaN
Germany                NaN  NaN           NaN  NaN       NaN
Italy                  NaN  NaN           NaN  NaN       NaN
Japan                  NaN  NaN           NaN  NaN       NaN
United Kingdom         NaN  NaN           NaN  NaN       NaN
United States          NaN  NaN           NaN  NaN       NaN

In [ ]:
df.loc["France":"Italy", "Population" : "HDI"]

         Population      GDP  Surface Area    HDI
France       63.951  2833687        640679  0.888
Germany      80.940  3874437        357114  0.916
Italy        60.665  2167744        301336  0.873

In [ ]:
df.loc['France': 'Italy', 'Population']

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [ ]:
df.loc['France': 'Italy', ['Population', 'GDP']]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

`iloc` works with the (numeric) "position" of the index:

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [ ]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [ ]:
df.iloc[[0, 1, -1], [0,1,-1]]

               Population       GDP Continent
Canada             35.467   1785387   America
France             63.951   2833687    Europe
United States     318.523  17348075   America

In [ ]:
df.iloc[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.iloc[2: 5, [1,0,2]]

             GDP  Population  Surface Area
Germany  3874437      80.940        357114
Italy    2167744      60.665        301336
Japan    4602367     127.061        377930

In [ ]:
df.iloc[1:3, 4]

France     Europe
Germany    Europe
Name: Continent, dtype: object

In [ ]:
df.iloc[1:3, [0, 3]]

         Population    HDI
France       63.951  0.888
Germany      80.940  0.916

In [ ]:
df.iloc[1:3, 1:3]

             GDP  Surface Area
France   2833687        640679
Germany  3874437        357114

> **RECOMMENDED: Always use `loc` and `iloc` to reduce ambiguity, specially with `DataFrame`s with numeric indexes.**

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Conditional selection (boolean arrays)

We saw conditional selection applied to `Series` and it'll work in the same way for `DataFrame`s. After all, a `DataFrame` is a collection of `Series`:

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
s = pd.Series([34,56,78,65,45,78])

In [ ]:
s[s > 50]

1    56
2    78
3    65
5    78
dtype: int64

In [ ]:
df.Population

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [ ]:
df.Population > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [ ]:
df[df.Population > 70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [ ]:
a= ["r","e", "s","t"]
a

['r', 'e', 's', 't']

In [ ]:
a[0:3]

['r', 'e', 's']

In [ ]:
a[::-1]

['t', 's', 'e', 'r']

In [ ]:
a[1:3:-1]

[]

In [ ]:
df.GDP[df.Population > 70]

Germany           3874437
Japan             4602367
United States    17348075
Name: GDP, dtype: int64

In [ ]:
df.Population > 75

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [ ]:
mask = [True, False, True, False, False, True, True]
mask

[True, False, True, False, False, True, True]

In [ ]:
df[mask]

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
Germany             80.940   3874437        357114  0.916    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df[df.Population > 100]

               Population       GDP  Surface Area    HDI Continent
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [ ]:
df['Population'] > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [ ]:
df.loc[df['Population'] > 70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.loc[df.Population > 70, ["Population", "GDP","Surface Area"]]

               Population       GDP  Surface Area
Germany            80.940   3874437        357114
Japan             127.061   4602367        377930
United States     318.523  17348075       9525067

In [ ]:
df.Population[df.Population > 70]

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [ ]:
df.loc[df.Population > 70, "Population" : "Surface Area"]

               Population       GDP  Surface Area
Germany            80.940   3874437        357114
Japan             127.061   4602367        377930
United States     318.523  17348075       9525067

In [ ]:
df[["Population", "GDP","Surface Area"]][df.Population > 70]

               Population       GDP  Surface Area
Germany            80.940   3874437        357114
Japan             127.061   4602367        377930
United States     318.523  17348075       9525067

In [ ]:
df[df.Population > 70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

The boolean matching is done at Index level, so you can filter by any row, as long as it contains the right indexes. Column selection still works as expected:

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.loc[(df.Population >60) & ((df.Continent == "Europe") | (df.Continent == "Asia")) , "GDP" : "Continent"]

                    GDP  Surface Area    HDI Continent
France          2833687        640679  0.888    Europe
Germany         3874437        357114  0.916    Europe
Italy           2167744        301336  0.873    Europe
Japan           4602367        377930  0.891      Asia
United Kingdom  2950039        242495  0.907    Europe

In [ ]:
df.loc[df['Population'] > 70, 'Population']

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [ ]:
df.loc[df['Population'] > 70, ['Population', 'GDP']]

               Population       GDP
Germany            80.940   3874437
Japan             127.061   4602367
United States     318.523  17348075

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Dropping stuff

Opposed to the concept of selection, we have "dropping". Instead of pointing out which values you'd like to _select_ you could point which ones you'd like to `drop`:

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df_temp = df.copy()

In [ ]:
df_temp

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df_temp.drop("Japan", inplace = True)

In [ ]:
df_temp

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.drop("Canada")

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.drop('Canada')

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df_temp

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df_temp = df_temp.drop(["Germany", "United States"])

In [ ]:
df_temp

                Population      GDP  Surface Area    HDI Continent
Canada              35.467  1785387       9984670  0.913   America
France              63.951  2833687        640679  0.888    Europe
Italy               60.665  2167744        301336  0.873    Europe
United Kingdom      64.511  2950039        242495  0.907    Europe

In [ ]:
df.drop(['Canada', 'Japan'])

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df_temp

                Population      GDP  Surface Area    HDI Continent
Canada              35.467  1785387       9984670  0.913   America
France              63.951  2833687        640679  0.888    Europe
Italy               60.665  2167744        301336  0.873    Europe
United Kingdom      64.511  2950039        242495  0.907    Europe

In [ ]:
df_temp.drop(columns = ["Population", "HDI"], inplace =True)

In [ ]:
df_temp

                    GDP  Surface Area Continent
Canada          1785387       9984670   America
France          2833687        640679    Europe
Italy           2167744        301336    Europe
United Kingdom  2950039        242495    Europe

In [ ]:
df_temp = df.copy()

In [ ]:
df_temp

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df_temp.drop(index = ["Canada", "Germany", "Japan"], columns = ["GDP", "HDI"])

                Population  Surface Area Continent
France              63.951        640679    Europe
Italy               60.665        301336    Europe
United Kingdom      64.511        242495    Europe
United States      318.523       9525067   America

In [ ]:
df.drop(columns=['Population', 'HDI'])

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [ ]:
df_temp

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df_temp.drop(["GDP", "HDI"], axis = 1)

                Population  Surface Area Continent
Canada              35.467       9984670   America
France              63.951        640679    Europe
Germany             80.940        357114    Europe
Italy               60.665        301336    Europe
Japan              127.061        377930      Asia
United Kingdom      64.511        242495    Europe
United States      318.523       9525067   America

In [ ]:
df.drop(['Italy', 'Canada'], axis=0)

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.drop(['Population', 'HDI'], axis=1)

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [ ]:
df.drop(['Population', 'HDI'], axis='columns')

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [ ]:
df.drop(['Canada', 'Germany'], axis='index')

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

All these `drop` methods return a new `DataFrame`. If you'd like to modify it "in place", you can use the `inplace` attribute (there's an example below).

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Operations

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada             135.467   1785387       9984670  0.913   America
France             163.951   2833687        640679  0.888    Europe
Germany            180.940   3874437        357114  0.916    Europe
Italy              160.665   2167744        301336  0.873    Europe
Japan              227.061   4602367        377930  0.891      Asia
United Kingdom     164.511   2950039        242495  0.907    Europe
United States      418.523  17348075       9525067  0.915   America

In [ ]:
df["Population"] = df["Population"] + 100

In [ ]:
df["Population"] + 100

Canada            135.467
France            163.951
Germany           180.940
Italy             160.665
Japan             227.061
United Kingdom    164.511
United States     418.523
Name: Population, dtype: float64

In [ ]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [ ]:
df[['Population', 'GDP']] / 100

                Population        GDP
Canada             0.35467   17853.87
France             0.63951   28336.87
Germany            0.80940   38744.37
Italy              0.60665   21677.44
Japan              1.27061   46023.67
United Kingdom     0.64511   29500.39
United States      3.18523  173480.75

**Operations with Series** work at a column level, broadcasting down the rows.

In [ ]:
crisis = pd.Series([-1000000, -0.3], index = ["GDP", "HDI"])

In [ ]:
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [ ]:
crisis = pd.Series([-1000000, -0.3], index=['GDP', 'HDI'])
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [ ]:
df[['GDP', 'HDI']]

                     GDP    HDI
Canada           1785387  0.913
France           2833687  0.888
Germany          3874437  0.916
Italy            2167744  0.873
Japan            4602367  0.891
United Kingdom   2950039  0.907
United States   17348075  0.915

In [ ]:
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [ ]:
df[['GDP', 'HDI']] + crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.607
United States   16348075.0  0.615

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Modifying DataFrames

It's simple and intuitive, You can add columns, or replace values for columns without issues:

### Adding a new column

In [ ]:
language = pd.Series(["French", "German", "Japanese"],
          index = ["France", "Germany", "Japan"])

In [ ]:
language

France       French
Germany      German
Japan      Japanese
dtype: object

In [ ]:
df["Language"] = language

In [ ]:
df["Language"] = language

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent  Language
Canada             135.467   1785387       9984670  0.913   America       NaN
France             163.951   2833687        640679  0.888    Europe    French
Germany            180.940   3874437        357114  0.916    Europe    German
Italy              160.665   2167744        301336  0.873    Europe       NaN
Japan              227.061   4602367        377930  0.891      Asia  Japanese
United Kingdom     164.511   2950039        242495  0.907    Europe       NaN
United States      418.523  17348075       9525067  0.915   America       NaN

In [ ]:
langs = pd.Series(
    ['French', 'German', 'Italian'],
    index=['France', 'Germany', 'Italy'],
    name='Language'
)

In [ ]:
langs

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [ ]:
df['Language'] = langs

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

---
### Replacing values per column

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent  Language
Canada             135.467   1785387       9984670  0.913   America       NaN
France             163.951   2833687        640679  0.888    Europe    French
Germany            180.940   3874437        357114  0.916    Europe    German
Italy              160.665   2167744        301336  0.873    Europe       NaN
Japan              227.061   4602367        377930  0.891      Asia  Japanese
United Kingdom     164.511   2950039        242495  0.907    Europe       NaN
United States      418.523  17348075       9525067  0.915   America       NaN

In [ ]:
df["Language"] = "English"

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada             135.467   1785387       9984670  0.913   America  English
France             163.951   2833687        640679  0.888    Europe  English
Germany            180.940   3874437        357114  0.916    Europe  English
Italy              160.665   2167744        301336  0.873    Europe  English
Japan              227.061   4602367        377930  0.891      Asia  English
United Kingdom     164.511   2950039        242495  0.907    Europe  English
United States      418.523  17348075       9525067  0.915   America  English

In [ ]:
df['Language'] = 'English'

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America  English
France              63.951   2833687        640679  0.888    Europe  English
Germany             80.940   3874437        357114  0.916    Europe  English
Italy               60.665   2167744        301336  0.873    Europe  English
Japan              127.061   4602367        377930  0.891      Asia  English
United Kingdom      64.511   2950039        242495  0.907    Europe  English
United States      318.523  17348075       9525067  0.915   America  English

---
### Renaming Columns

In [ ]:
df

,Population,Gross_Domestic_Product,Surface_Area,HDI,Continent,Language
Canada,135.467,1785387,9984670,0.913,America,English
France,163.951,2833687,640679,0.888,Europe,English
Germany,180.940,3874437,357114,0.916,Europe,English
Italy,160.665,2167744,301336,0.873,Europe,English
Japan,227.061,4602367,377930,0.891,Asia,English
United Kingdom,164.511,2950039,242495,0.907,Europe,English
United States,418.523,17348075,9525067,0.915,America,English

In [ ]:
df.rename(columns = {
    "Gross_Domestic_Product" : "GDP",
    "Surface_Area" : "Surface Area"
}, index = {
    "United Kingdom" : "UK",
    "United States" : "US"
},inplace = True
)

In [ ]:
df

         Population       GDP  Surface Area    HDI Continent Language
Canada      135.467   1785387       9984670  0.913   America  English
France      163.951   2833687        640679  0.888    Europe  English
Germany     180.940   3874437        357114  0.916    Europe  English
Italy       160.665   2167744        301336  0.873    Europe  English
Japan       227.061   4602367        377930  0.891      Asia  English
UK          164.511   2950039        242495  0.907    Europe  English
US          418.523  17348075       9525067  0.915   America  English

In [ ]:
df.rename(columns = {
    "Surface Area" : "Surface_Area",
    "GDP" : "Gross_Domestic_Product"
}, inplace = True)

In [ ]:
df.rename(
    columns={
        'HDI': 'Human Development Index',
        'Anual Popcorn Consumption': 'APC'
    }, index={
        'United States': 'USA',
        'United Kingdom': 'UK',
        'Argentina': 'AR'
    })

,Population,GDP,Surface Area,Human Development Index,Continent,Language
Canada,35.467,1785387,9984670,0.913,America,English
France,63.951,2833687,640679,0.888,Europe,English
Germany,80.940,3874437,357114,0.916,Europe,English
Italy,60.665,2167744,301336,0.873,Europe,English
Japan,127.061,4602367,377930,0.891,Asia,English
UK,64.511,2950039,242495,0.907,Europe,English
USA,318.523,17348075,9525067,0.915,America,English

In [ ]:
s = "TEST"
s.lower()

'test'

In [ ]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'UK', 'US'], dtype='object')

In [ ]:
df.rename(index=str.lower)

In [ ]:
df.rename(index=str.upper)

         Population       GDP  Surface Area    HDI Continent Language
CANADA      135.467   1785387       9984670  0.913   America  English
FRANCE      163.951   2833687        640679  0.888    Europe  English
GERMANY     180.940   3874437        357114  0.916    Europe  English
ITALY       160.665   2167744        301336  0.873    Europe  English
JAPAN       227.061   4602367        377930  0.891      Asia  English
UK          164.511   2950039        242495  0.907    Europe  English
US          418.523  17348075       9525067  0.915   America  English

In [ ]:
df.rename(index = lambda x: x.upper())

                Population       GDP  Surface Area    HDI Continent
CANADA              35.467   1785387       9984670  0.913   America
FRANCE              63.951   2833687        640679  0.888    Europe
GERMANY             80.940   3874437        357114  0.916    Europe
ITALY               60.665   2167744        301336  0.873    Europe
JAPAN              127.061   4602367        377930  0.891      Asia
UNITED KINGDOM      64.511   2950039        242495  0.907    Europe
UNITED STATES      318.523  17348075       9525067  0.915   America

In [ ]:
small_case = [index.lower() for index in df.index]

In [ ]:
df.rename(index = small_case)

TypeError: ignored

In [ ]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [ ]:
df.rename(index=lambda x: x.lower())

                Population       GDP  Surface Area    HDI Continent Language
canada              35.467   1785387       9984670  0.913   America  English
france              63.951   2833687        640679  0.888    Europe  English
germany             80.940   3874437        357114  0.916    Europe  English
italy               60.665   2167744        301336  0.873    Europe  English
japan              127.061   4602367        377930  0.891      Asia  English
united kingdom      64.511   2950039        242495  0.907    Europe  English
united states      318.523  17348075       9525067  0.915   America  English

---
### Dropping columns

In [ ]:
df["Language"] = "Hindi"

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America    Hindi
France              63.951   2833687        640679  0.888    Europe    Hindi
Germany             80.940   3874437        357114  0.916    Europe    Hindi
Italy               60.665   2167744        301336  0.873    Europe    Hindi
Japan              127.061   4602367        377930  0.891      Asia    Hindi
United Kingdom      64.511   2950039        242495  0.907    Europe    Hindi
United States      318.523  17348075       9525067  0.915   America    Hindi

In [ ]:
df.drop(columns = ["Language"], inplace = True)

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.drop(columns='Language', inplace=True)

---
### Adding values

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df = df.append(pd.Series({
    "Population" : 1400,
    "GDP" : 2500000,
    "Continent" : "Asia"
}, name  = "India"))

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387     9984670.0  0.913   America
France              63.951   2833687      640679.0  0.888    Europe
Germany             80.940   3874437      357114.0  0.916    Europe
Italy               60.665   2167744      301336.0  0.873    Europe
Japan              127.061   4602367      377930.0  0.891      Asia
United Kingdom      64.511   2950039      242495.0  0.907    Europe
United States      318.523  17348075     9525067.0  0.915   America
India             1400.000   2500000           NaN    NaN      Asia

In [ ]:
df.append(pd.Series({
    'Population': 3,
    'GDP': 5
}, name='China'))

                Population         GDP  Surface Area    HDI Continent
Canada              35.467   1785387.0     9984670.0  0.913   America
France              63.951   2833687.0      640679.0  0.888    Europe
Germany             80.940   3874437.0      357114.0  0.916    Europe
Italy               60.665   2167744.0      301336.0  0.873    Europe
Japan              127.061   4602367.0      377930.0  0.891      Asia
United Kingdom      64.511   2950039.0      242495.0  0.907    Europe
United States      318.523  17348075.0     9525067.0  0.915   America
China                3.000         5.0           NaN    NaN       NaN

Append returns a new `DataFrame`:

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

You can directly set the new index and values to the `DataFrame`:

In [ ]:
df.loc['China'] = pd.Series({'Population': 1_400_000_000, 'Continent': 'Asia'})

In [ ]:
df.loc["Pakistan"] = pd.Series([50000,2000, 43234, 0.34, "Asia" ], index = ["Population", "GDP", "Surface Area","HDI", "Continent"])
df

                  Population         GDP  Surface Area    HDI Continent
Canada          3.546700e+01   1785387.0     9984670.0  0.913   America
France          6.395100e+01   2833687.0      640679.0  0.888    Europe
Germany         8.094000e+01   3874437.0      357114.0  0.916    Europe
Italy           6.066500e+01   2167744.0      301336.0  0.873    Europe
Japan           1.270610e+02   4602367.0      377930.0  0.891      Asia
United Kingdom  6.451100e+01   2950039.0      242495.0  0.907    Europe
United States   3.185230e+02  17348075.0     9525067.0  0.915   America
India           1.400000e+03   2500000.0           NaN    NaN      Asia
China           1.400000e+09         NaN           NaN    NaN      Asia
Pakistan        5.000000e+04      2000.0       43234.0  0.340      Asia

In [ ]:
df

                  Population         GDP  Surface Area    HDI Continent
Canada          3.546700e+01   1785387.0     9984670.0  0.913   America
France          6.395100e+01   2833687.0      640679.0  0.888    Europe
Germany         8.094000e+01   3874437.0      357114.0  0.916    Europe
Italy           6.066500e+01   2167744.0      301336.0  0.873    Europe
Japan           1.270610e+02   4602367.0      377930.0  0.891      Asia
United Kingdom  6.451100e+01   2950039.0      242495.0  0.907    Europe
United States   3.185230e+02  17348075.0     9525067.0  0.915   America
India           1.400000e+03   2500000.0           NaN    NaN      Asia
China           1.400000e+09         NaN           NaN    NaN      Asia

We can use `drop` to just remove a row by index:

In [ ]:
df.drop('China', inplace=True)

In [ ]:
df

                Population         GDP  Surface Area    HDI Continent
Canada              35.467   1785387.0     9984670.0  0.913   America
France              63.951   2833687.0      640679.0  0.888    Europe
Germany             80.940   3874437.0      357114.0  0.916    Europe
Italy               60.665   2167744.0      301336.0  0.873    Europe
Japan              127.061   4602367.0      377930.0  0.891      Asia
United Kingdom      64.511   2950039.0      242495.0  0.907    Europe
United States      318.523  17348075.0     9525067.0  0.915   America

---
### More radical index changes

In [ ]:
df

                  Population         GDP  Surface Area    HDI Continent
Canada          3.546700e+01   1785387.0     9984670.0  0.913   America
France          6.395100e+01   2833687.0      640679.0  0.888    Europe
Germany         8.094000e+01   3874437.0      357114.0  0.916    Europe
Italy           6.066500e+01   2167744.0      301336.0  0.873    Europe
Japan           1.270610e+02   4602367.0      377930.0  0.891      Asia
United Kingdom  6.451100e+01   2950039.0      242495.0  0.907    Europe
United States   3.185230e+02  17348075.0     9525067.0  0.915   America
India           1.400000e+03   2500000.0           NaN    NaN      Asia
China           1.400000e+09         NaN           NaN    NaN      Asia
Pakistan        5.000000e+04      2000.0       43234.0  0.340      Asia

In [ ]:
df.reset_index(drop = True)

     Population         GDP  Surface Area    HDI Continent
0  3.546700e+01   1785387.0     9984670.0  0.913   America
1  6.395100e+01   2833687.0      640679.0  0.888    Europe
2  8.094000e+01   3874437.0      357114.0  0.916    Europe
3  6.066500e+01   2167744.0      301336.0  0.873    Europe
4  1.270610e+02   4602367.0      377930.0  0.891      Asia
5  6.451100e+01   2950039.0      242495.0  0.907    Europe
6  3.185230e+02  17348075.0     9525067.0  0.915   America
7  1.400000e+03   2500000.0           NaN    NaN      Asia
8  1.400000e+09         NaN           NaN    NaN      Asia
9  5.000000e+04      2000.0       43234.0  0.340      Asia

In [ ]:
df

                  Population         GDP  Surface Area    HDI Continent
Canada          3.546700e+01   1785387.0     9984670.0  0.913   America
France          6.395100e+01   2833687.0      640679.0  0.888    Europe
Germany         8.094000e+01   3874437.0      357114.0  0.916    Europe
Italy           6.066500e+01   2167744.0      301336.0  0.873    Europe
Japan           1.270610e+02   4602367.0      377930.0  0.891      Asia
United Kingdom  6.451100e+01   2950039.0      242495.0  0.907    Europe
United States   3.185230e+02  17348075.0     9525067.0  0.915   America
India           1.400000e+03   2500000.0           NaN    NaN      Asia
China           1.400000e+09         NaN           NaN    NaN      Asia
Pakistan        5.000000e+04      2000.0       43234.0  0.340      Asia

In [ ]:
df.set_index('Population')

                     GDP  Surface Area    HDI Continent
Population
3.546700e+01   1785387.0     9984670.0  0.913   America
6.395100e+01   2833687.0      640679.0  0.888    Europe
8.094000e+01   3874437.0      357114.0  0.916    Europe
6.066500e+01   2167744.0      301336.0  0.873    Europe
1.270610e+02   4602367.0      377930.0  0.891      Asia
6.451100e+01   2950039.0      242495.0  0.907    Europe
3.185230e+02  17348075.0     9525067.0  0.915   America
1.400000e+03   2500000.0           NaN    NaN      Asia
1.400000e+09         NaN           NaN    NaN      Asia
5.000000e+04      2000.0       43234.0  0.340      Asia

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Creating columns from other columns

Altering a DataFrame often involves combining different columns into another. For example, in our Countries analysis, we could try to calculate the "GDP per capita", which is just, `GDP / Population`.

In [ ]:
df

                  Population         GDP  Surface Area    HDI Continent
Canada          3.546700e+01   1785387.0     9984670.0  0.913   America
France          6.395100e+01   2833687.0      640679.0  0.888    Europe
Germany         8.094000e+01   3874437.0      357114.0  0.916    Europe
Italy           6.066500e+01   2167744.0      301336.0  0.873    Europe
Japan           1.270610e+02   4602367.0      377930.0  0.891      Asia
United Kingdom  6.451100e+01   2950039.0      242495.0  0.907    Europe
United States   3.185230e+02  17348075.0     9525067.0  0.915   America
India           1.400000e+03   2500000.0           NaN    NaN      Asia
China           1.400000e+09         NaN           NaN    NaN      Asia
Pakistan        5.000000e+04      2000.0       43234.0  0.340      Asia

In [ ]:
df["GDP_per_capita"] = df["GDP"] / df["Population"]

In [ ]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP_per_capita
Canada,3.546700e+01,1785387.0,9984670.0,0.913,America,50339.385908
France,6.395100e+01,2833687.0,640679.0,0.888,Europe,44310.284437
Germany,8.094000e+01,3874437.0,357114.0,0.916,Europe,47868.013343
Italy,6.066500e+01,2167744.0,301336.0,0.873,Europe,35733.025633
Japan,1.270610e+02,4602367.0,377930.0,0.891,Asia,36221.712406
United Kingdom,6.451100e+01,2950039.0,242495.0,0.907,Europe,45729.239975
United States,3.185230e+02,17348075.0,9525067.0,0.915,America,54464.120330
India,1.400000e+03,2500000.0,NaN,NaN,Asia,1785.714286
China,1.400000e+09,NaN,NaN,NaN,Asia,NaN
Pakistan,5.000000e+04,2000.0,43234.0,0.340,Asia,0.040000

In [ ]:
df[['Population', 'GDP']]

                Population         GDP
Canada              35.467   1785387.0
France              63.951   2833687.0
Germany             80.940   3874437.0
Italy               60.665   2167744.0
Japan              127.061   4602367.0
United Kingdom      64.511   2950039.0
United States      318.523  17348075.0

The regular pandas way of expressing that, is just dividing each series:

In [ ]:
df['GDP'] / df['Population']

Canada            50339.385908
France            44310.284437
Germany           47868.013343
Italy             35733.025633
Japan             36221.712406
United Kingdom    45729.239975
United States     54464.120330
dtype: float64

The result of that operation is just another series that you can add to the original `DataFrame`:

In [ ]:
df['GDP Per Capita'] = df['GDP'] / df['Population']

In [ ]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
Canada,35.467,1785387.0,9984670.0,0.913,America,50339.385908
France,63.951,2833687.0,640679.0,0.888,Europe,44310.284437
Germany,80.940,3874437.0,357114.0,0.916,Europe,47868.013343
Italy,60.665,2167744.0,301336.0,0.873,Europe,35733.025633
Japan,127.061,4602367.0,377930.0,0.891,Asia,36221.712406
United Kingdom,64.511,2950039.0,242495.0,0.907,Europe,45729.239975
United States,318.523,17348075.0,9525067.0,0.915,America,54464.120330

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Statistical info

You've already seen the `describe` method, which gives you a good "summary" of the `DataFrame`. Let's explore other methods in more detail:

In [ ]:
df.head()

         Population        GDP  Surface Area    HDI Continent  GDP_per_capita
Canada       35.467  1785387.0     9984670.0  0.913   America    50339.385908
France       63.951  2833687.0      640679.0  0.888    Europe    44310.284437
Germany      80.940  3874437.0      357114.0  0.916    Europe    47868.013343
Italy        60.665  2167744.0      301336.0  0.873    Europe    35733.025633
Japan       127.061  4602367.0      377930.0  0.891      Asia    36221.712406

In [ ]:
df.tail()

,Population,GDP,Surface Area,HDI,Continent,GDP_per_capita
United Kingdom,6.451100e+01,2950039.0,242495.0,0.907,Europe,45729.239975
United States,3.185230e+02,17348075.0,9525067.0,0.915,America,54464.120330
India,1.400000e+03,2500000.0,NaN,NaN,Asia,1785.714286
China,1.400000e+09,NaN,NaN,NaN,Asia,NaN
Pakistan,5.000000e+04,2000.0,43234.0,0.340,Asia,0.040000

In [ ]:
df.head()

         Population        GDP  Surface Area    HDI Continent  GDP Per Capita
Canada       35.467  1785387.0     9984670.0  0.913   America    50339.385908
France       63.951  2833687.0      640679.0  0.888    Europe    44310.284437
Germany      80.940  3874437.0      357114.0  0.916    Europe    47868.013343
Italy        60.665  2167744.0      301336.0  0.873    Europe    35733.025633
Japan       127.061  4602367.0      377930.0  0.891      Asia    36221.712406

In [ ]:
df.describe()

       Population           GDP  Surface Area       HDI  GDP Per Capita
count    7.000000  7.000000e+00  7.000000e+00  7.000000        7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429    44952.254576
std     97.249970  5.494020e+06  4.576187e+06  0.016592     6954.983875
min     35.467000  1.785387e+06  2.424950e+05  0.873000    35733.025633
25%     62.308000  2.500716e+06  3.292250e+05  0.889500    40265.998421
50%     64.511000  2.950039e+06  3.779300e+05  0.907000    45729.239975
75%    104.000500  4.238402e+06  5.082873e+06  0.914000    49103.699626
max    318.523000  1.734808e+07  9.984670e+06  0.916000    54464.120330

In [ ]:
population = df['Population']

In [ ]:
type(population)

pandas.core.series.Series

In [ ]:
population.min(), population.max()

(35.467, 318.523)

In [ ]:
df["Population"].min(), df["Population"].max()

(35.467, 1400000000.0)

In [ ]:
df["Population"]

Canada            3.546700e+01
France            6.395100e+01
Germany           8.094000e+01
Italy             6.066500e+01
Japan             1.270610e+02
United Kingdom    6.451100e+01
United States     3.185230e+02
India             1.400000e+03
China             1.400000e+09
Pakistan          5.000000e+04
Name: Population, dtype: float64

In [ ]:
df["Population"].sum() / len(df["Population"])

140005215.11180001

In [ ]:
population.sum()

751.118

In [ ]:
population.sum() / len(population)

107.30257142857144

In [ ]:
population.mean()

107.30257142857144

In [ ]:
population.std()

97.24996987121581

In [ ]:
population.median()

64.511

In [ ]:
population.describe()

count      7.000000
mean     107.302571
std       97.249970
min       35.467000
25%       62.308000
50%       64.511000
75%      104.000500
max      318.523000
Name: Population, dtype: float64

In [ ]:
population.quantile(.25)

62.308

In [ ]:
df["Population"].quantile(.75)

1129.63075

In [ ]:
population.quantile([.2, .4, .6, .8, 1])

0.2     61.3222
0.4     64.1750
0.6     74.3684
0.8    117.8368
1.0    318.5230
Name: Population, dtype: float64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)